@charset "UTF-8";
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 479.99px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 767.99px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1199.99px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1199.99px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.display-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* начало */
.header {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
@media screen and (max-width: 767.99px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header__box {
  display: flex;
  align-items: center;
}

.burger-btn {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: auto;
}
@media screen and (min-width: 767.99px) {
  .burger-btn {
    display: none;
  }
}

.header-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 767.99px) {
  .header-links {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    flex-direction: column;
    padding: 48px 40px;
    background-color: #ffffff;
    transform: translateX(-100%);
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 767.99px) {
  .header-links {
    align-items: center;
  }
}

.header-links.active {
  transform: translateX(0);
}

@media screen and (min-width: 767.99px) {
  .navi {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 767.99px) {
  .navi__list {
    display: flex;
  }
}

.navi__item {
  margin-bottom: 32px;
}
.navi__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 767.99px) {
  .navi__item {
    position: relative;
    margin-right: 50px;
    margin-bottom: 0;
  }
  .navi__item:last-child {
    margin-right: 0px;
  }
}

.navi__link {
  color: #212121;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
}
@media screen and (min-width: 767.99px) {
  .navi__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 1.14;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1199.99px) {
  .navi__link:hover, .navi__link:focus {
    color: #2196f3;
  }
}

.navi__link--on-page {
  color: #2196f3;
}
@media screen and (min-width: 767.99px) {
  .navi__link--on-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

/* контакты хедер */
.contact {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;
}
@media screen and (min-width: 767.99px) {
  .contact {
    margin-left: auto;
    flex-direction: column;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1199.99px) {
  .contact {
    flex-direction: row;
    align-items: center;
  }
}

.contact__link {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 767.99px) {
  .contact__link {
    display: flex;
    align-items: center;
    font-size: 12px;
  }
}
@media screen and (min-width: 1199.99px) {
  .contact__link {
    line-height: 1.14;
    font-size: 14px;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: #2196f3;
    fill: currentColor;
  }
}

@media screen and (max-width: 767.99px) {
  .contact__link--big {
    font-size: 34px;
    color: #2196f3;
  }
}

.contact__item {
  fill: currentColor;
}
@media screen and (max-width: 767.99px) {
  .contact__item {
    margin-bottom: 32px;
  }
  .contact__item:first-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 767.99px) {
  .contact__item {
    margin-bottom: 10px;
  }
  .contact__item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1199.99px) {
  .contact__item {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .contact__item:last-child {
    margin-right: 0px;
  }
}

.contact__icon {
  display: none;
}
@media screen and (min-width: 767.99px) {
  .contact__icon {
    display: block;
    fill: currentColor;
    margin-right: 10px;
  }
}

.social-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (min-width: 767.99px) {
  .social-header {
    display: none;
  }
}

.social-header__item {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.social-header__item:last-child {
  margin-right: 0px;
  padding-right: 0px;
  border: none;
}

.social-header__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
}

.logo {
  color: #000000;
}

.logo__accent {
  color: #2196f3;
}

@media screen and (min-width: 1199.99px) {
  .logo--header {
    margin-right: 93px;
  }
}
@media screen and (min-width: 767.99px) {
  .logo--header {
    margin-right: 88px;
  }
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

/* hero */
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 118px 0;
}
@media screen and (min-width: 1199.99px) {
  .hero {
    background-size: 1600px;
    padding: 200px 0;
  }
}

.hero__heading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  max-width: 360px;
  font-size: 26px;
  line-height: 1.62;
}
@media screen and (min-width: 1199.99px) {
  .hero__heading {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.primary-button {
  min-width: 200px;
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* основные качества */
@media screen and (min-width: 1199.99px) {
  .qualities {
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 767.99px) {
  .qualities-box {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.qualities-box__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 767.99px) {
  .qualities-box__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1199.99px) {
  .qualities-box__item {
    max-width: 270px;
  }
  .qualities-box__item:last-child {
    margin-right: 0px;
  }
}

.qualities-box__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.qualities-box__heading {
  color: #212121;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.qualities-box__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */
.occupation {
  display: none;
}
@media screen and (min-width: 1199.99px) {
  .occupation {
    display: block;
  }
}

.occupation__heading {
  color: #212121;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.16;
}

.ocupation-box {
  display: flex;
}

.ocupation-box__item {
  position: relative;
  margin-right: 30px;
}
.ocupation-box__item:last-child {
  margin-right: 0px;
}

.ocupation-box__img {
  display: block;
}

.ocupation-box__description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* наша команда */
.team {
  background-color: #f5f4fa;
}

.team__heading {
  color: #212121;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1199.99px) {
  .team__heading {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 767.99px) {
  .team-box {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-box__card {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
@media screen and (max-width: 767.99px) {
  .team-box__card {
    margin-bottom: 30px;
  }
  .team-box__card:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 767.99px) {
  .team-box__card {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1199.99px) {
  .team-box__card {
    width: calc((100% - 120px) / 4);
  }
}

.team-box__photo {
  width: 100%;
}

.team-box__description {
  padding: 30px 0;
}

.team-box__heading {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}

.team-box__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
}

/* socials */
.social {
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  fill: currentColor;
  border-radius: 50px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social__link--fotter {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

/*  наши клиенты */
.clients__heading {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

.clients-box {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-box__item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}
@media screen and (min-width: 767.99px) {
  .clients-box__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1199.99px) {
  .clients-box__item {
    width: calc((100% - 180px) / 6);
  }
}

.clients-box__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-box__link:hover, .clients-box__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.clients-box__svg {
  fill: currentColor;
}

/* footer */
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 767.99px) {
  .footer-box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer-contact {
  font-weight: 400;
  margin-bottom: 60px;
}
@media screen and (min-width: 767.99px) {
  .footer-contact {
    margin-bottom: 0px;
  }
}

.adress {
  font-style: normal;
}

.adress__item {
  margin-bottom: 9px;
}
.adress__item:last-child {
  margin-bottom: 0px;
}

.adress__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.adress__link--color {
  color: #ffffff;
}

/* connect */
.connect__heading {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* subscrible */
.subscribe {
  margin-top: 60px;
}

.subscribe__heading {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1199.99px) {
  .subscribe-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.subscribe-box__input {
  width: 100%;
  height: 50px;
  padding: 16px 15px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.subscribe-box__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-box__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-box__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1199.99px) {
  .subscribe-box__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe-box__icon {
  margin-left: 10px;
  vertical-align: middle;
}

/* modal */
.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.back-drop.is-hidden {
  pointer-events: all;
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 93px;
  left: 15px;
  background-color: white;
}
@media screen and (max-width: 767.99px) {
  .modal {
    bottom: 93px;
    right: 15px;
  }
}
@media screen and (min-width: 767.99px) {
  .modal {
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1199.99px) {
  .modal {
    width: 528px;
  }
}

.modal__heading {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  fill: #2196f3;
}

.modal-form__list {
  margin-bottom: 20px;
}

.modal-form__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.modal-form__name {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form__input {
  padding: 10px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover, .modal-form__input:focus {
  border-color: #2196f3;
}
.modal-form__input:hover ~ .modal-form__svg, .modal-form__input:focus ~ .modal-form__svg {
  fill: #2196f3;
}

.modal-form__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input--textarea {
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal-form__input--textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input--textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input--textarea::placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-confirm__name {
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1199.99px) {
  .form-confirm__name {
    font-size: 14px;
    line-height: 1.71;
  }
}

.confirm-name__svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid black;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-confirm__checkbox:checked ~ .confirm-name > .confirm-name__svg {
  background-color: #2196f3;
  border: none;
}

.confirm-name__link {
  color: #2196f3;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  margin-right: 6px;
}
.filter__item:last-child {
  margin-right: 0px;
}

.filter__buttun {
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__buttun:hover, .filter__buttunfocus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* боксы портфолио */
.work {
  display: flex;
  flex-wrap: wrap;
}

.work__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.work__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work__item:hover .work__text-holder {
  transform: translateY(-100%);
}
.work__item:nth-child(3n+3) {
  margin-right: 0px;
}
.work__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.work__overlay {
  position: relative;
  overflow: hidden;
}

.work__img {
  display: block;
}

.work__text-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  opacity: 0.9;
  padding: 63px 24px;
  transform: translateY(0);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.work__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.work__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.work__signature {
  font-size: 16px;
  line-height: 1.88;
}

/* общие классы*/
body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

body.overflow {
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */