/*  наши клиенты */

.clients__heading {
    
    margin-bottom: 30px;
    font-weight: 700;
    
    font-size: 28px;
    line-height: 1.16;
    text-align: center;

    color: $black-brown;

    @media screen and (min-width:$desktop){
        font-size: 36px;
        margin-bottom: 50px;
    }
}

.clients-box {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin: -15px;

}
.clients-box__item{
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    @media screen and (min-width:$tablet){
        width: calc((100% - 6 * 15px) / 3);
    }
    @media screen and (min-width:$desktop){
        width:calc((100% - 12 * 15px) / 6); ;
        
    }
}
.clients-box__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
    color: $darkgray;

    border: 1px solid $darkgray;
    border-radius: 4px;

    @include transition();

    &:hover,
    &:focus{
        border-color: $accent;
        color: $accent;
    }
}

.clients-box__svg {
    fill: currentColor;
}
