/* footer */
.footer {
    background-color: $darkslate;
    padding: 60px 0;
}

.footer-box {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media screen and (min-width:$tablet){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }
}

.footer-contact {
    // margin-right: 70px;
    font-weight: 400;
    margin-bottom: 60px;
    @media screen and (min-width:$tablet){
        margin-bottom: 0px;
    }
}

.adress {
    font-style: normal;
}

.adress__item {
    margin-bottom: 9px;
    
    &:last-child{
        margin-bottom: 0px;
    }
}

.adress__link {
    color: $smoke;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

}

.adress__link--color {
    color: $white;
}

/* connect */
.connect__heading {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
    
}

/* subscrible */
.subscribe {
    // margin-left: auto;
    margin-top: 60px;
}

.subscribe__heading {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
}

.subscribe-box {
    @media screen and (min-width:$desktop){
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

.subscribe-box__input {
    
    width: 100%;
    height: 50px;
    padding: 16px 15px;
    
    margin-bottom: 20px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;

    &::placeholder{
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

        @media screen and (min-width:$desktop){
            width: 358px;
            margin-right: 12px;
            margin-bottom: 0;
        }
}

.subscribe-box__icon {
    margin-left: 10px;
    vertical-align: middle;
}