.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}

.logo {
    color: $black;
}

.logo__accent {
    color: $accent;
}

.logo--header {
    @media screen and (min-width: $desktop){
        margin-right: 93px;
    }
    
    @media screen and (min-width: $tablet){
        margin-right: 88px;
    }
}
.logo--footer {
    display: inline-block;
    margin-bottom: 20px;
    color: $white;
}