/* modal */
.back-drop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    @include transition();
}

.back-drop.is-hidden {
    pointer-events: all;
    opacity: 0;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 40px;
    transform: translate(-50%, -50%);

    background-color: white;
}

.modal__heading {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.modal__button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;

    @include transition();

    &:hover,
    &:focus{
        fill: $accent;
    }
}

.modal-form__list {
    margin-bottom: 20px;
}

.modal-form__item {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.modal-form__name {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    margin-bottom: 4px;
}

.modal-form__input {
    padding: 10px 42px;
    width: 100%;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    @include transition();

    &:hover,
    &:focus{
        border-color: $accent;
    }

    &:hover~.modal-form__svg,
    &:focus~.modal-form__svg{
        fill: $accent;
    }
}

.modal-form__svg {
    position: absolute;
    top: 50%;
    left: 12px;
    @include transition();
}

.modal-form__input--textarea {
    min-height: 120px;
    padding: 12px 16px;
    resize: none;

    &::placeholder {
            font-size: 14px;
            line-height: 1.16;
            letter-spacing: 0.01em;
    
            color: rgba(117, 117, 117, 0.5);
        }
}
.form-confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-confirm__name {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $sonic-silver;
    margin-bottom: 30px;
}

.confirm-name__svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 2px solid black;
    @include transition();
}

.form-confirm__checkbox:checked~.confirm-name>.confirm-name__svg {
    background-color: $accent;
    border: none;
}

.confirm-name__link {
    color: $accent;
}