/* Чем мы занимаемся */

.occupation__heading {
    color: $black-brown;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.16;
}

.ocupation-box {
    display: flex;
}

.ocupation-box__item {
    position: relative;

    margin-right: 30px;
    &:last-child{
        margin-right: 0px;
    }
}
.ocupation-box__img {
    display: block;
}

.ocupation-box__description {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    padding: 27px 0;

    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: $white;

    background-color: rgba(47, 48, 58, 0.8);
}