/* основные качества */

.qualities {
    
    @media screen and (min-width:$desktop){
        padding-bottom: 0px;
    }
    
}

.qualities-box {
    // display: flex;
    @media screen and (min-width:$tablet){
        display: flex;
        flex-wrap: wrap;

        margin: -15px;
        
    }
}

.qualities-box__item {
   

    margin-bottom: 30px;
    @media screen and (min-width:$tablet){
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }
    @media screen and (min-width:$desktop){
        max-width: 270px;
            
        
            &:last-child {
                margin-right: 0px;
            }
        
    }
}

.qualities-box__picture {
    display: flex;
    align-items: center;
    justify-content: center;

    // width: 270px;
    height: 120px;
    background-color: #f5f4fa;

    margin-bottom: 30px;
}

.qualities-box__heading {
    color: $black-brown;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    text-align: center;
    @media screen and (min-width:$tablet){
        text-align: left;
    }
}

.qualities-box__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}