/* наша команда */
.team {
    background-color: $whitesmoke;
}

.team__heading {
    color: $black-brown;
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;

        @media screen and (min-width:$desktop){
            margin-bottom: 50px;
            font-size: 36px;
            line-height: 1.16;
        }
}

.team-box {
   

    @media screen and (min-width:$tablet){
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
    }
    //  @media screen and (min-width:$desktop){
    //     flex-wrap: nowrap;
    //  }
}

.team-box__card {
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;

    @media screen and (max-width:$tablet){
        margin-bottom: 30px;
        
            &:last-child {
                margin-bottom: 0px;
    }
    
    }
        @media screen and (min-width:$tablet){
            width: calc((100% - 4 * 15px) / 2);
            margin: 15px;
        }
        @media screen and (min-width:$desktop){
            width: calc((100% - 8 * 15px) / 4)
        }

}
.team-box__photo{
    // width: 100%;
    
}
.team-box__description {
    padding: 30px 0;
}

.team-box__heading {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;

    color: $black-brown;
}

.team-box__text {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
}

