$white: #ffffff;
$accent:#2196f3;
$black:#000000;
$black-brown:#212121;
$sonic-silver: #757575;
$whitesmoke: #f5f4fa;
$darkslate:#2f303a;
$smoke:rgba(255, 255, 255, 0.6);
$blackout:rgba(47, 48, 58, 0.4);
$darkgray:#afb1b8;
